body{
  color: azure;
  font-weight: 600;
  background-image: radial-gradient(circle, #4b0082, #4d0097, #4d00ad, #4800c5, #3c00dd, #0046f0, #0069fa, #0087ff, #00b4ff, #00d6ff, #00f0a9, #00ff00);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: Krona One;
  }
  
  @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.titletext{
  font-family: Rubik Mono One;
  color: darkslategray;
}

.Butext{
  font-family: Rubik Mono One;
}
.ISH{
  margin: 0.2rem;
}